PitchTrax/bin/*
PitchTrax/obj/*

Stats/bin/*
Stats/obj/*

ClassifierTests/bin/*
ClassifierTests/obj/*

packages/*

*.user
*.suo

StatisticsTests/bin/*
StatisticsTests/obj/*

PitchTraxDataAccessUnitTests/bin/*
PitchTraxDataAccessUnitTests/obj/*